@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500&display=swap");

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cardinal Fruit";
  src:
    url("/fonts/cardinal-fruit-medium.woff2") format("woff2"),
    url("/fonts/cardinal-fruit-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

h1,
h2 {
  font-family: "Cardinal Fruit", Georgia, serif;
}

h3 {
  font-family: "Clash Display", Georgia, serif;
  letter-spacing: 0.3rem;
}

p {
  color: #414141;
  font-family: "Hanken Grotesk", system-ui, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
